<p>firststage works!</p>
<table border="1">
    <thead>
        <tr>
            <th>CORE SERIAL</th>
            <th>FLIGHT</th>
            <th>BLOCK</th>
            <th>GRIDFINS</th>
            <th >LANDING TYPE</th>
            <th>LANDING VEHICLE</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{launch.rocket.first_stage.cores[0].core_serial}}</td>
            <td>{{launch.rocket.first_stage.cores[0].flight}}</td>
            <td>{{launch.rocket.first_stage.cores[0].block}}</td>
            <td>{{launch.rocket.first_stage.cores[0].gridfins}}</td>
            <td>{{launch.rocket.first_stage.cores[0].landing_type}}</td>
            <td>{{launch.rocket.first_stage.cores[0].landing_vehicle}}</td>
           
        </tr>
    </tbody>
</table>
